@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background: #f5f5f5;
  min-height: 100vh;
}
h1 {
  text-align: center;
  color: rebeccapurple;
  opacity: 0.3;
  font-size: 8rem;
}
.form {
  width: 400px;
  max-width: 100%;
  margin: auto;
  box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.4);
}
.input {
  width: 100%;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  border: none;
}
.input::placeholder {
  color: #b5b5b5;
}
.todos {
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: #fff;
}
.todos li {
  border-top: 1px solid #b5b5b5;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
}
.todos li.completed {
  text-decoration: line-through;
  color: #7e7b7b;
}
small {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #a5a3a3;
}
.btn {
  display: flex;
  padding: 0.5rem 3rem;
  margin: 1rem auto;
  margin-top: 4rem;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  transition: 0.5s ease;
}
.btn:hover {
  background-color: rgb(218, 214, 214);
}
